.top-left-flower-contact {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.top-right-flower-contact {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.bottom-left-flower-contact {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    bottom: -44%;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.bottom-right-flower-contact {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    bottom: -44%;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.contacts {
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.ece-mert {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.ece-info {
    align-self: center;
    text-align: center;

}

.phone-title {
    font-weight: 600;
}

.image {
    position: relative;
    width: 15.625rem;
    height: 15.625rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.05rem rgb(0, 0, 0, .50);
    border-radius: 50%;
}

.wedding-place {
    margin-bottom:2.5rem;
}

sup {
    font-style: italic;
}

#contact-footer {
    position: relative;
    top: 0%;
}