.faq {
    z-index: 9999;
    overflow: hidden;
    margin: 9rem 25% 0px 25%;
}

.faq ul li {
    list-style-type: none;
    margin-top: 1rem;
}

.top-left-flower-faq {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.top-right-flower-faq {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.bottom-left-flower-faq {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    bottom: -20%;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.bottom-right-flower-faq {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    bottom: -20%;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.questions ul{
    padding: 0.2rem;
    margin-bottom: 15rem;
}

.faq-footer {
    position: relative;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {

    .top-left-flower-faq,
    .top-right-flower-faq,
    .bottom-left-flower-faq,
    .bottom-right-flower-faq {
        max-height: 15%;
        max-width: 40%;
        opacity: 30%;
    }

    .bottom-left-flower-faq,
    .bottom-right-flower-faq {
        bottom: -100%
    }

    .faq {
        z-index: 9999;
        overflow: hidden;
        margin: 9rem 10% 0px 10%;
    }

}