.faq {
    z-index: 9999;
    overflow: hidden;
    margin: 120px 25% 0px 25%;
}

.faq ul li {
    list-style-type: none;
    margin-top: 35px;
}

.top-left-flower-faq {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.top-right-flower-faq {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.bottom-left-flower-faq {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    bottom: -150px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.bottom-right-flower-faq {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    bottom: -150px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
}

.questions ul{
    padding: 5px;
    margin-bottom: 100px;
}

.faq-footer {
    position: relative;
    width: 100%;
    height: auto;
}