.footer {
    position: absolute;
    top:95%;
    width: 100%;
    height: 2.49rem;
    background-color: transparent;
  }
  
.footer a {
    text-decoration: none;
    color: #333
  }
  
div i {
    color: #ffc1f3;
  }