* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    scroll-behavior: smooth;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.images {
    height: 100%;
    background-image: url(../images/portraits_2.png);
    background-position: 50% 50%;
    background-size: 35rem;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #bdd7d4;
    vertical-align: middle;
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.top-left-flower {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    z-index: 90
}

.top-right-flower {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
}

.bottom-left-flower {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    bottom: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
}

.bottom-right-flower {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
}

a:active, a:hover {
    outline: 0;
    scroll-behavior: smooth;
}

.downarrowlinkblock {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 1rem;
    text-align: center;
    scroll-behavior: smooth;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
    scroll-behavior: smooth;
}

div {
    display: block;
}

.ourstorybreak {
    display: block;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-top: 3rem;
    
}

.ourstory {
    background-color: #fefefe;
}

.ourstory {
    padding-top: 3rem;
    background-color: transparent;
}

.body1 {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    font-family: Mandali, sans-serif;
    color: #3d3d3d;
    font-size: 1em;
    line-height: 2em;
    letter-spacing: 0.07em;
}

.headline1 {
    display: block;
    width: 70%;
    margin: 1rem auto 3rem;
    font-family: 'Great Vibes', sans-serif;
    font-size: 3.5em;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.07em;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

h2 {
    font-size: 3.5em;
}

.time-and-date {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: auto;
    margin:auto;
}

.date img {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    width: 100%;
    height: auto;
}

.time {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 0.5rem;
    margin-bottom: 6rem;
}

.wedding-ceramony, .party {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin: 0.5rem;
}

.time h4 {
    text-align: center;
    font-family: 'Great Vibes';
    font-size: 2em;
}

.save-the-date {
    margin-top: 1rem
}

/* Desktop Styles */

.ourstoryinner {
    padding-top: 3rem;
    background-color: transparent;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

.ourstorybreak {
    display: block;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-top: 3rem;
}

/* Mobile Styles */

@media only screen and (max-width: 768px) {
    .w-container {
        max-width: 90%; /* Adjust the max-width for smaller screens */
    }

    .images {
        height: 100%;
        background-image: url(../images/portraits_2.png);
        background-position: 50% 50%;
        background-size: 20rem;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: #bdd7d4;
        vertical-align: middle;
        border: 0;
    }

    .body1,
    .headline1 {
        width: 90%; /* Adjust the width of text content */
    }

    .downarrowlinkblock {
        bottom: 1rem; /* Adjust the position of the arrow link */
    }

    .time-and-date {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .time {
        margin-top: 3rem
    }

    .time h2{
        font-size: 2rem
    }

    .time h4 {
        font-size: 1.5em; /* Adjust the font size for time */
    }

    .save-the-date {
        margin-top: 0.5rem; /* Adjust the margin for the save the date section */
    }

    .date img {
        margin-top: 0.5rem; /* Adjust the margin for the date image */
    }

    .bottom-left-flower,
    .bottom-right-flower,
    .top-left-flower,
    .top-right-flower {
    max-height: 15%;
}

.top-left-flower,
    .top-right-flower {
    opacity: 30%;

}
}