* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    scroll-behavior: smooth;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.images {
    height: 100%;
    background-image: url(../images/portraits_2.png);
    background-position: 50% 50%;
    background-size: 350px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #bdd7d4;
    vertical-align: middle;
    border: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.top-left-flower {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    z-index: 90
}

.top-right-flower {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
}

.bottom-left-flower {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    bottom: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
}

.bottom-right-flower {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    bottom: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
}

a:active, a:hover {
    outline: 0;
    scroll-behavior: smooth;
}

.downarrowlinkblock {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: 25px;
    text-align: center;
    scroll-behavior: smooth;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
    scroll-behavior: smooth;
}

div {
    display: block;
}

.ourstorybreak {
    display: block;
    margin-right: auto;
    margin-bottom: 35px;
    margin-left: auto;
    margin-top: 35px
    
}

.ourstory {
    background-color: #fefefe;
}

.ourstory {
    padding-top: 65px;
    background-color: transparent;
}

.body1 {
    display: block;
    width: 70%;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;
    font-family: Mandali, sans-serif;
    color: #3d3d3d;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.headline1 {
    display: block;
    width: 70%;
    margin: 10px auto 25px;
    font-family: 'Great Vibes', sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

h2 {
    font-size: 50px;
}

.time-and-date {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    left: auto;
    margin:auto;
}

.date img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    width: 100%;
    height: auto;
}

.time {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 15px;
    margin-bottom: 50px;
}

.wedding-ceramony, .party {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin: 15px;
}

.time h4 {
    text-align: center;
    font-family: 'Great Vibes';
    font-size: 35px;
}

.time img {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    width: 35%;
    height: auto;
    border: 10px solid black;
    background: linear-gradient(to top, rgba(#cffffe, 0.3), rgba(#f9f7d9, 0.3), rgba(#fce2ce, 0.3), rgba(#ffc1f3, 0.3));
  border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%23cffffe' /%3E%3Cstop offset='25%25' stop-color='%23f9f7d9' /%3E%3Cstop offset='50%25' stop-color='%23fce2ce' /%3E%3Cstop offset='100%25' stop-color='%23ffc1f3' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3'/%3E %3C/svg%3E") 1;

}

.save-the-date {
    margin-top: 45px
}