.location {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map-and-location {
    display: flex;
    flex-direction: row;
    z-index: 9998;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;
}

.map-and-location a {
    width: 40rem;
    height: auto;
    align-self: center;
   
}

.map-and-location img {
    width: 40rem;
    height: 40rem;
}

.map-image {
    width: 40rem;
    height: 40rem;
    box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem rgb(0, 0, 0, .50);
}

.wedding-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.beach-club img {
    box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem rgb(0, 0, 0, .50);
}

.hotels {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    z-index: 9997;
}

.hotel {
    display: flex;
    flex-direction: column;
}

.hotel h2 {
    font-size: 2em;
}

.hotel-image {
    width: 20rem;
    height: auto;
    border-radius: 10%;
}

.top-left-flower-location {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
    z-index: 9995;
}

.top-right-flower-location {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
    z-index: 9995;
}

.bottom-left-flower-location {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    bottom: -391%;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
    z-index: 9995;
}

.bottom-right-flower-location {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    bottom: -391%;
    display: block;
    max-height: 30%;
    max-width: 40%;
    opacity: 30%;
    z-index: 9995;
}

.suggestions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% 10% 0% 10%;
}

.suggestion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.suggestion > img {
    border-radius: 15%;
    height: 30rem;
    width: auto;
}

hr {
    width: 100%;
    margin: 5% 1% 5% 1%;
}

#location-footer {
    position: relative;
}