.form-div{
    position: absolute;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.form-main {
    max-height: 72rem;
    height: auto;
    width: 30rem;
    background-color: #fff;
    margin: auto;
    border-radius: 0.1rem;
    color: #666;
    padding: 0.3rem 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem rgb(0, 0, 0, .50);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    z-index: 9997;
}

.top-left-flower-form {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 50%;
    z-index: 9998;
}

.top-right-flower-form {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    top: 0px;
    display: block;
    max-height: 30%;
    max-width: 50%;
}

.bottom-left-flower-form {
    position: absolute;
    padding: 0px;
    margin: 0px;
    left: 0px;
    bottom: -20%;
    display: block;
    max-height: 30%;
    max-width: 50%;
    
}

.bottom-right-flower-form {
    position: absolute;
    padding: 0px;
    margin: 0px;
    right: 0px;
    bottom: -20%;
    display: block;
    max-height: 30%;
    max-width: 50%;
}

.form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    padding: 0.7rem;
}

@font-face {
    font-family: "Great Vibes";
    src: url("../fonts/greatvibes-regular-demo.html");
    src: url("../fonts/greatvibes-regular-webfont.woff") format("woff"),
    url("../fonts/greatvibes-regular-webfont.woff2") format("opentype"),
    url("../fonts/GreatVibes-Regular.ttf") format("svg");
    }

h2 {
    font-family: 'Great Vibes',
    cursive;
    font-weight: 100;
}

h4 {
    margin:0;
    margin-bottom: 0.7rem;
}

input {
    font-size: 1em;
    color: #666;
    padding: 0.3rem;
    margin: 0px auto 0.6rem;
    display: block;
    width: 65%;    
}

select {
    font-size: 1em;
    color: #666;
    padding: 0.3rem;
    margin: 0px auto 0px;
    display: block;
    width: 65%;    
}

input:focus {
    outline: 0;
  }

.button button {
    display: inline-block;
    width: 30rem;
  }

button {
    color: white;
    background-color: rgb(54, 66, 68);
    border: none;
    font-family: 'Raleway';
    font-size: 1.5em;
    font-weight: 600;
    width: 13rem;
    height: 4rem;
    margin: 1.5rem auto 1.5rem auto;
    text-align: center;
}

button.check-button {
    border-radius: 0.7rem;
    border-right: solid 0.1rem white;
}

button.submit-button {
    border-radius: 0.7rem;
    border-right: solid 0.1rem white;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    text-align: center;
}

button.regret-button {
    border-radius: 0.7rem;
    text-align: center;
}

.check-button:hover {
background-color: #bdd7d4;
color: #333;
border: 0.1rem solid gray;
transition: .5s;
}

.submit-button:hover {
    background-color: #bdd7d4;
    color: #333;
    border: 0.1rem solid gray;
    transition: .5s;
    }

.regret-button:hover {
    background-color: rgb(204, 67, 67);
    border: 0.1rem solid gray;
    }


aside {
    margin-bottom: 0.7rem;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popup {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    top:0;
    z-index: 9999;
  }

  .popup .popuptext {
    visibility: hidden;
    background-color: #bdd7d4;
    color: #333;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0.4rem;
    padding: 0.5rem 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem rgb(0, 0, 0, 1);
    background-image: url('../images/white-texture.jpg');
    background-size: cover;
    border: 0.15rem dashed #333;

  }

.confirm-info p {
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem;
    font-size: 1.5em;
}

.popup .show {
  visibility: visible;
  display: block;
}

.names {
    border-bottom: 0.15rem dashed #000;
    text-align: center;
}

.mail-letter {
    margin-top: 1rem;
}

.mail-letter p, .names p {
    font-family: "Great Vibes";
    font-size: 2rem;
}

.attending-checkboxes {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    justify-content: space-evenly;
    align-items: center;
}

.attending-checked,.not-attending-box {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    font-style: italic;
}

.checkbox {
    width: 2rem;
    height: auto;
    margin-left: 1rem
}

.confirm-info h1 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1em;
    font-size: 2rem;
    text-align: center;
}



/* Media query for phones */
@media only screen and (max-width: 768px) {

.form-div {
    position: absolute;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.form-main {
    width: 90%; /* Adjust the width for smaller screens */
    max-width: auto;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.top-left-flower-form,
.top-right-flower-form,
.bottom-left-flower-form,
.bottom-right-flower-form {
    max-height: 15%; /* Adjust the size of flowers for smaller screens */
    max-width: 40%;
}

.bottom-left-flower-form,
.bottom-right-flower-form {
    bottom: -55%; /* Adjust the size of flowers for smaller screens */
}

input,
select {
    font-size: 1em;
    width: 90%; /* Adjust the width of input/select fields */
    margin: 0.3rem auto;
}

.buttons {
    display: flex;
    flex-direction: column; /* Adjust button layout for smaller screens */
    gap: 0.1rem;
    text-align: center;
}

button {
    width: 50%; /* Adjust the width of buttons */
    margin: 1rem auto;
    font-size: large;
}

aside {
    margin-bottom: 0.2rem;
}

.popup {
    visibility: hidden;
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    z-index: 9999;
}

.popup .popuptext {
    visibility: hidden;
    background-color: #bdd7d4;
    color: #333;
    position: fixed;
    width: 90%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 0.4rem;
    padding: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.6rem 0.1rem rgba(0, 0, 0, 1);
    background-image: url('../images/white-texture.jpg');
    background-size: cover;
    border: 0.15rem dashed #333;
}

.confirm-info h1 {
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1em;
    font-size: 2rem;
    margin: 0 1rem 0 2.5rem;
}

.confirm-info p {
    font-family: 'Times New Roman', Times, serif;
    margin: 1rem;
    font-size: 1em;
    width: auto;
}

.popup .show {
    visibility: visible;
    display: block;
}

.names {
    border-bottom: 0.15rem dashed #000;
    text-align: center;
}

.mail-letter {
    margin-top: 1rem;
}

.mail-letter p,
.names p {
    font-family: "Great Vibes";
    font-size: 2rem;
}

.attending-checkboxes {
    display: flex;
    flex-direction: column; /* Adjust checkbox layout for smaller screens */
    justify-content: center;
    align-items: center;
}

.checkbox {
    width: 2rem;
    height: auto;
    margin: 0.3rem;
}
}